.item {
    height: 80px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    animation: shimmer 1s linear infinite alternate;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes shimmer {
    0% {
        background: rgba(32, 32, 36, 0.25);
    }
    100% {
        background: rgba(32, 32, 36, 1);
    }
}
