.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    padding: 5%;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 100;
}

.container .box,
.container .mpesa {
    position: relative;
    margin: auto;
    margin-top: 60px;
    background-color: white;
    background-color: var(--box-background);
    width: min(400px, 100%);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 5px #ffffff13;
    color: var(--gray);
    transition: 0.3s;
}

.container .mpesa input {
    width: 100%;
    height: 50px;
    background-color: var(--background);
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 25px;
    color: var(--gray);
}
.container .mpesa button {
    width: 100%;
    height: 50px;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    color: var(--gray);
    cursor: pointer;
    font-weight: 600;
}
.container .mpesa button:hover {
    opacity: 0.9;
}
.container .mpesa button:active {
    opacity: 0.6;
}
.container .mpesa svg {
    float: right;
    margin-bottom: 20px;
    cursor: pointer;
}
.container .mpesa svg:hover {
    opacity: 0.9;
}

.container .box .top {
    color: #000;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--ignite-light);
    padding: 6px 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
}

.container .box .first_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: #333;
    color: var(--gray);
    font-weight: 600;
    margin-top: 30px;
}

.container .box button {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    background-color: #e60000;
    color: var(--gray);
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
    /* font-weight: 800; */
    font-family: "Sigmar";
    display: none;
}

.container .box button:hover {
    opacity: 0.9;
}
.container .box .line {
    width: 100%;
    height: 3px;
    background-color: rgb(59, 53, 53);
    margin-bottom: 20px;
}

.container .box .second_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #333;
    color: var(--text);
    margin-bottom: 15px;
}
.container .box .second_row span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
