.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding: 10% 5%;
padding-bottom: 100px;
}

.container .next_box {
    color: #000;
    background-color: var(--box-background);
    width: 30%;
    padding-block: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 30px;
    box-shadow: 2px 2px 3px #0000003d;
    position: relative;
    color: var(--gray);
}
.container .next_box h2 {
    margin: 14px 0;
}
.container .next_box h2 span {
    color: var(--primary);
}
.container .next_box p {
    line-height: 23px;
}
.container .next_box .next_buttons {
    width: 100%;
    margin-top: 14px;
}
.container .next_box button {
    padding: 14px 28px;
    background-color: var(--primary);
    color: var(--gray);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
    float: right;
}
.container .next_box p {
    color: var(--text);
    margin-top: 24px;
    line-height: 23px;
}
.container .next_box button:hover {
    background: var(--green);
}
.container .next_box button:active {
    background: var(--primary);
}

.container .about_box {
    color: #000;
    background-color: var(--box-background);
    width: 60%;
    padding-block: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 30px;
    box-shadow: 1px 1px 5px #000;
    position: relative;
    color: var(--gray);
}
.container .about_box h2 {
    color: var(--gray);
    margin: 14px 0;
}
.container .about_box h2 span {
    color: var(--primary);
}

.container .about_box p {
    color: var(--text);
    margin-top: 24px;
    line-height: 23px;
}

.container .about_box .about_buttons {
    width: 100%;
    margin-top: 64px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.container .about_box a {
    padding: 15px 40px;
    background-color: var(--background);
    color: var(--gray);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 14px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 15px;
}
.container .about_box a svg {
    padding: 5px;
}
.container .about_box a:hover {
    background: var(--green);
}

.container .about_box .about_interests {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
}
.container .about_interests span {
    padding: 15px 30px;
    background-color: var(--background);
    color: var(--gray);
    border-radius: 5px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 0.8rem;
    font-weight: 600;
}
.container .about_interests span:hover {
    background: var(--green);
    color: #fff;
}

.container .onboard_card {
    background-color: var(--box-background);
    width: 25%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 0;
    box-shadow: 1px 1px 5px #000;
    position: relative;
    color: var(--gray);
}
.container .onboard_card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 18px;
    border: 8px solid transparent;
    outline: 4px solid var(--gray-line);
}
.container .onboard_card h2 {
    margin-top: 19px;
    margin-bottom: 28px;
    color: var(--gray);
}
.container .onboard_card p {
    margin-bottom: 14px;
    color: var(--gray);
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    justify-content: center;
}
.container .onboard_card p svg {
    margin-right: 4px;
}
.container .onboard_card button {
    padding: 15px 28px;
    background-color: var(--primary);
    color: var(--gray);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
    margin: 14px 0;
    margin-bottom: 24px;
}
.container .onboard_card .connected_button {
    background-color: var(--green);
}

.container .onboard_card .member_since {
    padding-top: 20px;
    border-top: 0.2px solid rgba(0, 0, 0, 0.8);
    width: 100%;
}
.container .onboard_card .member_since p {
    font-size: 0.7rem;
    font-weight: 600;
    opacity: 0.8;
}

/* mobile */

@media (max-width: 1120px) {
    .container {
        flex-direction: column;
    }
    .container .next_box,
    .container .onboard_card {
        width: 60%;
    }
    .container .about_box {
        width: 100%;
    }
}
@media (max-width: 530px) {
    .container .next_box,
    .container .onboard_card {
        width: 100%;
    }
}
