.container {
    width: 100%;
    padding: 50px 0;
    padding-bottom: 100px;
}

.container .box {
    margin-top: 50px;
    display: flex;
    text-align: flex-start;
    gap: 30px;
    padding: 0 10%;
}

.container .box h4 {
    color: var(--gray);
    margin: 14px;
}

/*

























l
*/
.description {
    padding: 0 10%;
}
.description h1 {
    font-size: 2rem;
    margin-top: 40px;
    color: var(--colors-text-title);
}
.description span {
    margin-top: 30px;
    display: inline-block;
    color: var(--gray);
    font-weight: 600;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 15px;
}
.description p {
    padding-top: 30px;
    color: var(--gray);
    font-weight: 500;
    line-height: 26px;
    border-top: 1px solid var(--gray-line);
    word-break: break-all;
    word-wrap: break-word;
}
.description button {
    margin-top: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: var(--discover-blue);
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
}
/*

























l
*/

@media (max-width: 1000px) {
    .box {
        flex-direction: column;
    }
}
@media (max-width: 530px) {
    .container {
        margin-top: 50px;
    }
    .box {
        gap: 13px;
    }
}
@media (max-width: 450px) {
    .container .box {
        margin-top: 0px;
        padding: 0 5%;
    }
    .description {
        padding: 0 5%;
    }
}
