.x_container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 30px 5%;
    overflow: hidden;
    overflow-y: scroll;
}
.x_container::-webkit-scrollbar {
    background: transparent;
    width: 4px;
}
.x_container::-webkit-scrollbar-thumb {
    background: hsl(229, 76%, 66%);
    border-radius: 15px;
}

.x_container .x_container_box {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 20px;
    background-color: rgb(41, 41, 46);
    width: min(800px, 100%);
    min-height: 300px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.x_container .x_container_box svg {
    color: rgb(168, 168, 179);
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.x_container .x_container_box h4 {
    font-size: 16px;
    font-weight: normal;
    color: rgb(168, 168, 179);
    margin-bottom: 1.5em;
}
.x_container .x_container_box h1 {
    font-weight: 700;
    line-height: 1.3;
    color: rgb(225, 225, 230);
    margin: 0px auto 1em;
}
.x_container .x_container_box p {
    width: 100%;
    padding: 0;
    margin: 0;
    color: rgb(168, 168, 179);
    line-height: 1.6;
    margin-bottom: 1.2em;
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--gray-line);
}
.x_container .x_container_box textarea {
    width: 100%;
    height: 131px;
    font-family: inherit;
    font-size: 16px;
    background: rgb(18, 18, 20);
    border: 2px solid rgb(18, 18, 20);
    color: rgb(255, 255, 255);
    padding: 0.75em 1em;
    border-radius: 5px;
    resize: none;
    outline: none;
}
.x_container .x_container_box textarea:hover,
.x_container .x_container_box textarea:focus {
    border: 2px solid var(--primary);
}

.x_container .x_container_box span {
    padding: 20px 0;
    margin: 20px 13px;
    background-color: var(--primary);
    display: block;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    width: min(250px, 100%);
}
.x_container .x_container_box span:hover {
    background-color: var(--primary-hover);
}

@media (max-width: 600px) {
    .x_container .x_container_box h1 {
        /* line-height: 1.3; */
        font-size: 1.5rem;
    }
}
@media (max-width: 400px) {
    .x_container .x_container_box span {
        width: 100%;
    }
}
