.post_comment {
    display: flex;
    align-items: flex-start;

    justify-content: space-between;
    margin-bottom: 14px;
}
.post_comment .post_comment_avatar_div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 50%;
    outline: 2px solid var(--gray-line);
    border: 2px solid var(--background);
    font-size: 0.7rem;
    color: var(--gray);
    font-weight: 500;
    flex-shrink: 0;
    margin-right: 14px;
}
.post_comment .post_comment_box {
    background: rgba(157, 80, 235, 0.08);
    padding: 8px;
    border-radius: 8px;
}
.post_comment span {
    display: block;
}
.post_comment .post_comment_username {
    color: var(--gray);
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    gap: 20px;
}
.post_comment .post_comment_username svg {
    cursor: pointer;
}
.post_comment .post_comment_username svg:hover {
    opacity: 0.7;
}
.post_comment .post_comment_comment {
    margin-top: 8px;
    display: block;
    font-size: 0.8rem;
    color: var(--gray);
}
